<p>
  yay servers works!
</p>
<input 
  class="form-control"
  (input)="onUpdateServerName($event)"> <!-- $event variável reservada para ser usada dentro de templates, que carrega o obj do evento -->
  <p>
    {{ serverName }}
  </p>
<button 
  class="btn btn-primary"
  [disabled]="!allowNewServer"
  (click)="onCreateServer()"
  > 
  <!-- [disabled]="!allowNewServer" => seta o valor diretamente na propriedade da tag | [disabled] sintaxe reconhecida pelo angular 
       (click)="onCreateServer()" => define método que será chamado no evento onclick.   

       Quais propriedades estão disponíveis?
       Google it! => YOUR_ELEMENT properties or YOUR_ELEMENT events.
  -->
  Set new server
</button>
<p>
  {{ serverMessage }}
</p>
<p>
  <app-server></app-server>
</p>